Flask==0.11.1
Flask-Login==0.3.2
Flask-Migrate==1.8.0
Flask-Restless==0.17.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gnureadline==6.3.3
ipywidgets==5.1.4
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
Lasagne==0.1
livereload==2.3.2
Mako==1.0.4
MarkupSafe==0.23
migrate==0.3.8
mimerender==0.6.0
mistune==0.7.2
mysqlclient==1.3.7
nbconvert==4.2.0
nbformat==4.0.1
notebook==4.2.0
numpy==1.11.0
pandas==0.18.1
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
Pygments==2.1.3
python-dateutil==2.5.3
python-editor==1.0.1
python-mimeparse==1.5.2
pytz==2016.4
pyzmq==15.2.0
qtconsole==4.2.1
requests==2.10.0
scikit-learn==0.17.1
scikit-neuralnetwork==0.7
scipy==0.17.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
SQLAlchemy==1.0.13
terminado==0.6
Theano==0.8.2
tornado==4.3
traitlets==4.2.1
virtualenv==15.0.2
Werkzeug==0.11.10
widgetsnbextension==1.2.2
WTForms==2.1
