* {
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background:url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?dpr=2&auto=format&crop=entropy&fit=crop&w=1253&h=834&q=80)
	no-repeat; background-position: center; background-size: cover;"
}

#wrapper {
	width: 100%;
	height: 100%;
}


nav {
	height: 50px;
}

nav a {
	color: white;
	font-size: 16px;
	font-weight: lighter;
	text-decoration: none;
	line-height: 50px;
}

nav h2 {
	display: inline-block;
	margin-left: 40px;
	color: white;
	letter-spacing: 4px;
	font-size: 20px;
	font-weight: lighter;
	line-height: 50px;
}

#logout {
	float: right;
	margin-right: 40px;
}


#description {
	display: block;
	width: 450px;
	height: 500px;
	margin: 100px auto;
	position: relative;
}


#username {
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	padding-top: 20px;
	text-align: center;
}



.form-line {
	height: 30px;
	margin-bottom: 20px;
}

.write-form {
	float: right;
	height: 30px;
	line-height: 30px;
	width: 300px;
	padding-left: 5px;
}


#submit {
	width: 125px;
	height: 40px;
	display: block;
	border: 1px solid #47b2e2;
	background-color: transparent;
	color: #47b2e2;
	float: right;
	border-radius: 30px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 14px;
}


#myBtn {
	margin-bottom: 50px;
}

img.photo {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
}

input#file, textarea#photo-src{
	display: none;
}


.imageBox
{
	margin: auto;
    position: relative;
    height: 200px;
    width: 200px;
    background: #fff;
    overflow: hidden;
    cursor:move;
	margin-bottom: 20px;
}

.thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
	width: 150px;
	height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.thumbBox {
	border-radius: 50%;
}



/* The Modal (background) */
#myModal {
	border-radius: 5%;
    display: none; /* Hidden by default */
	position: absolute;
	top: 0;
	left: 200px;
	width: 300px;
	height: 360px;
	background: #FFF;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}

.imageBox {
	margin-bottom: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
	margin-right: 8px;
    font-size: 22px;
    /*font-weight: bold;*/
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label#upload:hover {
    background: #DDD;
}

label#upload {
    text-align: center;
    display: inline-block;
    font-size: 12px;
    width: 80px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}

.cropped {
	position: absolute;
	z-index: 1;
	left: 175px;
	top: 0;
}

.cropped > img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.form-line > label {
	color: white;
	font-size: 15px;
	line-height: 30px;
}

/*textarea#about_me {*/
    /*height: 60px;*/
    /*line-height: 16px;*/
/*}*/