html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background: white;
	height: 100%;
}

#mapid {
	height: 100%;
	width: 45%;
	float: right;
}

section {
	height: 100%;
}

#container {
	width: 55%;
	height: 100%;
	overflow: auto;
	float: left;
	padding: 0 40px;
	position: relative;
}



div.pagination {
	display: block;
	text-align: center;
}

@media screen and (max-width: 720px) {
	#mapid {
		display: none;
	}
	#container {
		width: 100%;
	}
}

.pop-img {
    width: 280px;
    height: 160px;
}

.text-center {
	text-align: center;
}

