* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
	font-size: 14px;
}

ul, ol {
	list-style: none;
}

div#preview {
	height: 100vh;
	margin-bottom: 50px;
}

.cover {
	width: 100%;
}

article {
	/*width: auto;*/
	padding: 40px 0px;
}

.post-title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.post-author {
	text-align: center;
	margin-bottom: 20px;
}

.author-name {
	color: black;
	margin-right: 20px;
}

.post-date {
	display: inline-block;
}

.post-body {
	line-height: 2em;
	font-size: 15px;
	width: 800px;
	margin: auto;
	font-weight: 200;
}

form.comment-form {
	background-color: transparent;
    padding: 30px;
	height: 200px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(19, 35, 47, 0.3);
	position: relative;
	width: 800px;
	margin: 0 auto 40px auto;
}

.input-markdown {
	resize: none;
	outline: none;
	font-size: 14px;
	border: none;
}

.submit input {
	position: absolute;
	right: 30px;
	bottom: 20px;
	border: none;
	width: 70px;
	height: 30px;
	background-color: black;
	color: white;
	font-size: 14px;
}

.comments {
	width: 800px;
	height: auto;
	margin: 0 auto;
	border: 1px solid #DDD;
	padding: 20px;
	padding-bottom: 0;
}

.comment-thumbnail {
	float: left;
	margin-right: 20px;
}

.comment {
	border-bottom: 1px solid #DDD;
	height: 100px;
	overflow: auto;
	margin-bottom: 20px;
}

.comment:last-child {
	border: none;
	margin-bottom: 0;
}


img.star,#comment-png {
	height: 20px;
	width: 20px;
}

button {
	border: none;
	background: none;
	outline: none;
	font-size: 14px;
	margin-right: 20px;
}

comment > p {
	display: block;
}

.response {
	width: 800px;
	height: 20px;
	margin: 30px auto;
}


.jiathis_style {
    display: inline-block;
	margin-right: 20px;
}

.leaflet-popup-content p {
    font-size: 14px;
    color: black;
    text-align: center;
}

span.pop-img {
    width: 280px;
    height: 160px;
}

form p {
	float: right;
	font-size: 14px;
}

p>a {
	color: #7194C2;;
}

img.gravatar {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.comment-date {
	margin-top: 6px;
}

span {
	vertical-align: middle;
}


nav#nav {
	height: 50px;
}

span#index {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	color: black;
	letter-spacing: 4px;
	font-size: 20px;
	font-weight: lighter;
	line-height: 50px;
}

#nav ul {
	display: inline-block;
	float: right;
	margin-right: 40px;
}

#nav li {
	display: inline-block;
	margin-left: 15px;
}

nav a {
	color: black;
	font-size: 14px;
	font-weight: lighter;
	line-height: 50px;
}

img#menu {
	margin-left: 40px;
	width: 25px;
}

input#search {
	outline: none;
	font-size: 14px;
    font-weight: lighter;
    padding-left: 8px;
    width: 200px;
    height: 28px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}