* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: #4E5D6B;
	padding: 60px;
}

ul {
    list-style-type: none;
}

input, button, submit {
	border:none;
}

#container {
	width: 100%;
	margin-bottom: 60px;

}

.input-container {
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

#title {
	width: 48%;
	height: 100%;
	display: inline-block;
	margin-right: 20px;
	padding-left: 10px;
	font-size: 15px;
}

input#file {
	visibility: hidden;
}

label {
	width: 48%;
	height: 100%;
	color: white;
	line-height: 50px;
	text-align: center;
	background-color: #EFAC4D;
	overflow: hidden;
	box-shadow: 5px 5px 10px #333;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

#mapid {
	margin: 20px 0;
	width: 100%;
	height: 400px;
}

#location {
	width: 48%;
	height: 100%;
	display: inline-block;
}

.location-input {
	text-align: center;
	font-size: 14px;
	height: 100%;
	width: 48%;
}

#input-lat,#input-lng, input#submit-button, #title {
	-webkit-box-shadow: 5px 5px 8px #333;
  	-moz-box-shadow: 5px 5px 8px #333;
  	box-shadow: 5px 5px 8px #333;
}

#input-lng {
	float: right;
}

#submit-row {
	width: 100%;
	height: 40px;
}

input#submit-button {
	width: 48%;
	height: 100%;
	display: inline-block;
	color: white;
	font-size: 14px;
	text-align: center;
	background-color: #EFAC4D;
	outline: none;
	cursor: pointer;
	float: right;
}


/* selector */

.select-wrapper {
    position: relative;
	display: inline-block;
	width: 100%;
    margin-right: 20px;
}

.select-wrapper span.caret {
    color: white;
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 12px;
}

.select-wrapper input.select-dropdown {
	font-weight: 200;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 14px;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}

input.select-dropdown {
	color: white;
}

.dropdown-content {
	padding: 0;
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}

.dropdown-content > li {
	height: 50px;
	line-height: 50px;
	text-align: center;
}


.dropdown-content > li:hover {
	background-color: #F3F3F3;
}

select.initialized {
	display: none;
}


.col-6 {
	width: 48%;
	display: inline-block;
}

.col-3 {
	display: inline-block;
	width: 23%;
	margin-right: 20px;
}

.float-right {
	float: right;
}

.flask-pagedown {
	height: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		padding: 0;
	}
	.col-3 {
		margin: 0;
	}
}