    <div class="post">
		<div class="cover-photo">
			<a class="post-header" href="/post/{{ post.id }}" style="opacity: 1;
					background:url(../{{ post.photo }}) no-repeat; background-position: center; background-size: cover;"></a>
		</div>
        <div class="post-content">
			<a class="post-title" href="/post/{{ post.id }}">{{ post.title }}</a>
			<ul class="metas">
				<li>
					<a href="{{ url_for('.user', username=post.author.username) }}" style="text-decoration:none;">
					{% if post.author.photo %}
						<img class="gravatar" src="../{{ post.author.photo }}">
					{% else %}
						<img class="gravatar" src="{{ post.author.gravatar(size=20) }}">
					{% endif %}
					<span id="post-author">{{ post.author.username }}</span>
					</a>
				</li>

				<li><span>发表于</span><span>  {{ moment(post.timestamp).format("YYYY-MM-D") }}</span></li>

				<li>
					<img class="icon" src="{{ url_for('static', filename='images/comment.png') }}">
					<span>{{ post.comments.count() }}</span>
				</li>
			</ul>
        </div>
    </div>