<div class="wrapper">
<div class="dummy"></div>
<div class="post">
		<div class="cover-photo">
			<a class="post-header" href="/post/{{ post.id }}" style="opacity: 1;
					background:url(../{{ post.photo }}) no-repeat; background-position: center; background-size: cover;"></a>
		</div>
        <div class="post-content">
			<a class="post-title" href="/post/{{ post.id }}">{{ post.title }}</a>
			<ul class="metas">
				<li>
					<a href="{{ url_for('.user', username=post.author.username) }}" style="text-decoration:none;">
					{% if post.author.photo %}
						<img class="gravatar" src="../{{ post.author.photo }}">
					{% else %}
						<img class="gravatar" src="{{ post.author.gravatar(size=20) }}">
					{% endif %}
					<span id="post-author">{{ post.author.username }}</span>
					</a>
				</li>

				<li>{{ moment(post.timestamp).format("YYYY-MM-D") }}</li>

				{% if post.category_id %}
					<li>
						<i class="material-icons">location_on</i>
						<span id="category">{{ post.category.name }}</span>
					</li>
				{% endif %}

				{% if post.domain_id %}
					<li>
						 <i class="material-icons">label</i>
						 <span>{{ post.domain.name}}</span>
					</li>
				{% endif %}

			</ul>
        </div>
    </div>
</div>