{% extends "base.html" %}
{% block title %}发布文章{% endblock %}
{% block head %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<link rel="stylesheet"  href = "{{ url_for('static', filename='css/write.css') }}">

	{{ pagedown.include_pagedown() }}
	{{ moment.include_moment() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({
    		selector: 'textarea',  // change this value according to your HTML
  			plugins: "paste",
			menubar: false,
			toolbar: "undo, redo, paste, bold, italic, underline, strikethrough, subscript, superscript, removeformat, formats",
			content_style: "div, p { font-size: 14px; }",
  			a_plugin_option: true,
			paste_data_images: true,
  			a_configuration_option: 400,
			height: 700
		});
	</script>
{% endblock %}

{% block body %}
	{% include "_alert.html" %}
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
		<div id="container">

			{% for message in get_flashed_messages() %}
				<div class="alert alert-warning">
					<a class="close" data-dismiss="alert">&times;</a>
					{{ message }}
				</div>
			{% endfor %}

		<form action="" method="post" class="form" role="form" enctype=multipart/form-data>

			{{ form.hidden_tag() }}

			<div class="row">
			<div class="col-3">
				<select name="category">
					<option value="" disabled selected>地理</option>
					{% for choice in form.category.choices %}
						 <option value={{ choice[0] }}>{{choice[1]}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-3">
				<select name="domain">
					<option value="" disabled selected>领域</option>
					{% for choice in form.domain.choices %}
						 <option value={{ choice[0] }}>{{choice[1]}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-6 float-right" >
				<select name="topic">
					<option value="" disabled selected>专题</option>
					{% for choice in form.topic.choices %}
						 <option value={{ choice[0] }}>{{choice[1]}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

			<div class="input-container">
				{{ form.title(class="title", placeholder=form.title.label.text )}}
				<input type="file" name="file" id="file">
				<label for="file">上传主图</label>
			</div>

			{{ form.body(only_input=True) }}

			<div id="mapid"></div>

			<div id="submit-row">
				<div id="location">
					{{ form.lat(id="input-lat", class="location-input", placeholder="纬度") }}
					{{ form.long(id="input-lng", class="location-input", placeholder="经度") }}
				</div>
				{{ form.submit(id="submit-button") }}
			</div>

		</form>
		</div>
	{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/alert.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script type="text/javascript">
	 $(document).ready(function() {
    	$('select').material_select();
  	});
</script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {
		var mymap = L.map('mapid').setView([39.90, 116.40], 3);
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
			maxZoom: 18,
			id: 'mapbox.streets',
			accessToken: 'pk.eyJ1Ijoiem15MDU2OCIsImEiOiJjaXpya3QxNG0wMDkzMndtZjBqOGJqcXp3In0.pna8W20S0kjTDjhFFLg5IA'
		}).addTo(mymap);

		{% for post in all_posts %}
			var lat = {{ post.lat }};
			var long = {{ post.long }};
			var title = "{{ post.title }}";
			L.marker([lat, long]).addTo(mymap).bindPopup(title).openPopup();
		{% endfor %}

		var popup = L.popup();

		function onMapClick(e) {
			popup
					.setLatLng(e.latlng)
					.setContent("坐标 ( " + Math.round(e.latlng.lat * 100) / 100 + ", " + Math.round(e.latlng.lng * 100) / 100 + " )")
					.openOn(mymap);
			$("#input-lat").val(e.latlng.lat);
			$("#input-lng").val(e.latlng.lng);
		}

		mymap.on('click', onMapClick);
	});
</script>
<script type="text/javascript">
	$( document ).ready(function() {
		$('input[type=file]').change(function () {
			var filename = $('input[type=file]').val().split('\\').pop();
			if (filename.length > 1) {
				$("label").text(filename);
			}
		});
	});
</script>
{% endblock %}
